@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Outfit", Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 1.2rem;
}

h1{
    font-size: 6rem;
}

.container{
    max-width: 700px;
    height: 85vh;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 2%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 10%;
}

.container .top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .top .location p{ 
    font-family: 'Ramaraja', serif;
    font-size: 40px;
    font-weight: 400;
} 

.icon{
     background: rgba(255,255,255,0.5);
    border-radius:10px; 
}

.container .bottom{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
}

.desciption{
    font-weight: 600;
}

.bold{
    font-weight: 700;
}